.navigation {
  display: block;
  background-color: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  height: 5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navigation > .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation-title {
  display: inline;
  line-height: 5rem;
  font-size: 2.2rem;
  color: inherit;
}

.content {
  padding-top: 5rem;
}

.content > .container {
  padding-top: 5rem;
}

.row.title-row {
  align-items: center;
  flex-direction: column;
}

.title-row .row.search-vehicle {
  flex-direction: row;
}

.row .column .search-vehicle-submit {
  width: auto;
}

.row.vehicle-list-content {
  flex-direction: column;
}

.row.mot-test {
  flex-direction: column;

  padding: 2.5rem 0 2.5rem 0;
  border-top: 1px solid #d1d1d1;
}

.row.mot-test .column.pass-fail {
  text-align: center;
  text-transform: uppercase;
  align-self: center;
}

.row.mot-test .column.pass-fail h4 {
  font-weight: bold;
}

.row.mot-test .column.pass-fail h4.pass {
  color: #006400;
}

.row.mot-test .column.pass-fail h4.fail {
  color: #8B0000;
}

.row.comments-list label {
  margin-top: 1rem;
}

.row.comments-list ul {
  margin-bottom: 0;
}

.row.comments-list ul li:last-child {
  margin-bottom: 0;
}

@media (min-width: 80.0rem) {
  .row.title-row {
    flex-direction: row;
  }

  .row.vehicle-list-content {
    flex-direction: row;
  }

  .row.mot-test {
    flex-direction: row;
  }

  .row.mot-test .column.pass-fail {
    flex: 0 0 20rem;
  }

  .row.vehicle-list-content .add-vehicle {
    flex: 0 0 20%;
  }

  .row.vehicle-list-content .row.add-vehicle-form {
    flex-direction: column;
  }
}
