.navigation {
  display: block;
  background-color: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  height: 5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navigation > .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation-title {
  display: inline;
  line-height: 5rem;
  font-size: 2.2rem;
  color: inherit;
}

.content {
  padding-top: 5rem;
}

.content > .container {
  padding-top: 5rem;
}

.row.title-row {
  align-items: center;
  flex-direction: column;
}

.title-row .row.search-vehicle {
  flex-direction: row;
}

.row .column .search-vehicle-submit {
  width: auto;
}

.row.vehicle-list-content {
  flex-direction: column;
}

@media (min-width: 80.0rem) {
  .row.title-row {
    flex-direction: row;
  }

  .row.vehicle-list-content {
    flex-direction: row;
  }

  .row.vehicle-list-content .add-vehicle {
    flex: 0 0 20%;
  }

  .row.vehicle-list-content .row.add-vehicle-form {
    flex-direction: column;
  }
}
